# Exercise 1 - Data processing repetition
0. Supahcoolsoft employee data
- In a company Supahcoolsoft, there are a lot of employees within data fields.
- Read this dataset from the data directory and
- a) Do some initial EDA on this dataset. For example checking null values, look at some statistical properties.

In [18]:
import pandas as pd

df = pd.read_csv("../data/supahcoolsoft.csv")
df

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
0,E001,Ann,Larsson,41,Product Management,AI Specialist,60777.0,ann.larsson@supacoolsoft.se,+46 (0)25 37 22 30
1,E002,Emma,Kim,52,Engineering,Database Administrator,46020.0,emma.kim@supacoolsoft.se,+46 (0)855 449 66
2,E003,Barbro,Andersson,59,DevOps,Data Scientist,48503.0,barbro.andersson@supacoolsoft.se,+46 (0)47 61 73 44
3,E004,Magnus,Söderström,52,Product Management,Junior Data Scientist,47296.0,magnus.söderström@supacoolsoft.se,+46 (0)258 579 26
4,E005,Therese,Ljungberg,46,Product Management,Junior Data Scientist,42435.0,therese.ljungberg@supacoolsoft.se,+46 (0)575 495 24
...,...,...,...,...,...,...,...,...,...
95,E096,Erik,Höglund,55,Data Science,Junior Data Engineer,42590.0,erik.höglund@supacoolsoft.se,+46 (0)8 454 503 87
96,E097,Fatima,Khan,26,Engineering,BI Developer,42809.0,fatima.khan@supacoolsoft.se,08-677 430 60
97,E098,Gunnel,Olofsson,27,Engineering,Senior Data Engineer,62630.0,gunnel.olofsson@supacoolsoft.se,+46 (0)35 20 46 36
98,E099,Wei,Zhang,43,Product Management,Senior Data Analyst,52075.0,wei.zhang@supacoolsoft.se,+46 (0)490 722 64
99,E100,Ulrika,Sundberg,39,Product Management,Database Administrator,53413.0,ulrika.sundberg@supacoolsoft.se,08-276 632 16

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   100 non-null    object
 1   FirstName    100 non-null    object
 2   LastName     100 non-null    object
 3   Age          100 non-null    int64
 4   Department   98 non-null     object
 5   Position     99 non-null     object
 6   Salary_SEK   99 non-null     float64
 7   Email        100 non-null    object
 8   PhoneNumber  100 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 7.2+ KB

In [20]:
df[df["Department"].isna()]

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
14,E015,Verner,Eriksson,57,NaN,ETL Developer,46264.0,verner.eriksson@supacoolsoft.se,0810-80 56 25
15,E016,Ruth,Eriksson,47,NaN,Machine Learning Engineer,68611.0,ruth.eriksson@supacoolsoft.se,+46 (0)25 21 81 60

In [21]:
df[df["Position"] == "Machine Learning Engineer"]

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
11,E012,Cecilia,Magnusson,58,Data Science,Machine Learning Engineer,56154.0,cecilia.magnusson@supacoolsoft.se,0576-83 25 92
15,E016,Ruth,Eriksson,47,NaN,Machine Learning Engineer,68611.0,ruth.eriksson@supacoolsoft.se,+46 (0)25 21 81 60
40,E041,Maria,Garcia,25,DevOps,Machine Learning Engineer,45451.0,maria.garcia@supacoolsoft.se,0571-862 98
46,E047,Patrik,Johansson,49,IT,Machine Learning Engineer,52337.0,patrik.johansson@supacoolsoft.se,+46 (0)81 44 86 32
55,E056,Robert,Jönsson,49,DevOps,Machine Learning Engineer,41548.0,robert.jönsson@supacoolsoft.se,+46 (0)994 940 25
74,E075,Wei,Zhang,32,DevOps,Machine Learning Engineer,68086.0,wei.zhang@supacoolsoft.se,+46 (0)586 920 24
76,E077,Elias,Engström,48,Engineering,Machine Learning Engineer,51275.0,elias.engström@supacoolsoft.se,090-61 85 40
84,E085,Margaretha,Lundin,40,DevOps,Machine Learning Engineer,41833.0,margaretha.lundin@supacoolsoft.se,08-343 45 95

In [22]:
df[df["Position"] == "ETL Developer"]

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
14,E015,Verner,Eriksson,57,NaN,ETL Developer,46264.0,verner.eriksson@supacoolsoft.se,0810-80 56 25
23,E024,Kajsa,Arvidsson,48,DevOps,ETL Developer,44109.0,kajsa.arvidsson@supacoolsoft.se,091-511 74 71
47,E048,Vilhelm,Erlandsson,57,Engineering,ETL Developer,35084.0,vilhelm.erlandsson@supacoolsoft.se,08-14 69 30
58,E059,David,Karlsson,40,Data Science,ETL Developer,42951.0,david.karlsson@supacoolsoft.se,0076-410 48
65,E066,Viola,Andersson,31,Engineering,ETL Developer,48533.0,viola.andersson@supacoolsoft.se,+46 (0)472 155 43
68,E069,Gunnar,Eriksson,55,Product Management,ETL Developer,53544.0,gunnar.eriksson@supacoolsoft.se,0589-311 37
72,E073,Liam,Wilson,37,Product Management,ETL Developer,39020.0,liam.wilson@supacoolsoft.se,029-397 34 46
80,E081,Sofia,Nielsen,31,IT,ETL Developer,53455.0,sofia.nielsen@supacoolsoft.se,08-929 953 68
91,E092,Mia,Patel,42,Engineering,ETL Developer,44192.0,mia.patel@supacoolsoft.se,+46 (0)501 810 69

In [23]:
df[df["Position"].isna()]

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
24,E025,Erik,Johansson,34,IT,NaN,52931.0,erik.johansson@supacoolsoft.se,08-22 92 07

In [24]:
df[df["Department"] == "IT"]

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
5,E006,Liam,Wilson,41,IT,Senior Data Analyst,65993.0,liam.wilson@supacoolsoft.se,026-27 51 40
22,E023,Maria,Garcia,31,IT,Big Data Engineer,60579.0,maria.garcia@supacoolsoft.se,+46 (0)8 058 790 94
24,E025,Erik,Johansson,34,IT,NaN,52931.0,erik.johansson@supacoolsoft.se,08-22 92 07
27,E028,Christina,Svensson,52,IT,Junior Data Scientist,47746.0,christina.svensson@supacoolsoft.se,+46 (0)479 099 78
32,E033,Maria,Garcia,29,IT,Junior Data Scientist,41412.0,maria.garcia@supacoolsoft.se,0613-858 88
35,E036,Niklas,Karlsson,40,IT,Database Administrator,54033.0,niklas.karlsson@supacoolsoft.se,0795-862 69
36,E037,Olivia,Brown,54,IT,BI Developer,52655.0,olivia.brown@supacoolsoft.se,081-63 55 27
39,E040,Emma,Kim,53,IT,AI Specialist,65553.0,emma.kim@supacoolsoft.se,0946-74 42 27
45,E046,Liam,Wilson,57,IT,Senior Data Analyst,52336.0,liam.wilson@supacoolsoft.se,+46 (0)74 98 17 56
46,E047,Patrik,Johansson,49,IT,Machine Learning Engineer,52337.0,patrik.johansson@supacoolsoft.se,+46 (0)81 44 86 32
50,E051,Mia,Patel,41,IT,Data Scientist,57326.0,mia.patel@supacoolsoft.se,+46 (0)39 27 25 65
59,E060,Ahmed,Hassan,29,IT,Senior Data Scientist,61086.0,ahmed.hassan@supacoolsoft.se,08-145 202 83
80,E081,Sofia,Nielsen,31,IT,ETL Developer,53455.0,sofia.nielsen@supacoolsoft.se,08-929 953 68
85,E086,Olivia,Brown,53,IT,Senior Data Engineer,69742.0,olivia.brown@supacoolsoft.se,+46 (0)938 025 59
92,E093,Mia,Patel,42,IT,Junior Data Analyst,33401.0,mia.patel@supacoolsoft.se,083-946 68 56
93,E094,Fatima,Khan,35,IT,Junior Data Analyst,36776.0,fatima.khan@supacoolsoft.se,007-70 46 39

In [25]:
df[df["Salary_SEK"].isna()]

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
69,E070,Emma,Kim,48,DevOps,AI Specialist,NaN,emma.kim@supacoolsoft.se,+46 (0)8 354 130 19

In [26]:
df[(df["Department"] == "DevOps") & (df["Position"] == "AI Specialist")]

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
6,E007,Olivia,Brown,46,DevOps,AI Specialist,66996.0,olivia.brown@supacoolsoft.se,0717-03 48 64
60,E061,Margareta,Berglund,28,DevOps,AI Specialist,69356.0,margareta.berglund@supacoolsoft.se,088-747 36 50
69,E070,Emma,Kim,48,DevOps,AI Specialist,NaN,emma.kim@supacoolsoft.se,+46 (0)8 354 130 19

b) See if there are some null values that you can fill in based on your domain knowledge within the data field.

Not possible. Removed instead.

In [27]:
df = df.dropna(subset=["Department", "Position", "Salary_SEK"])
df

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
0,E001,Ann,Larsson,41,Product Management,AI Specialist,60777.0,ann.larsson@supacoolsoft.se,+46 (0)25 37 22 30
1,E002,Emma,Kim,52,Engineering,Database Administrator,46020.0,emma.kim@supacoolsoft.se,+46 (0)855 449 66
2,E003,Barbro,Andersson,59,DevOps,Data Scientist,48503.0,barbro.andersson@supacoolsoft.se,+46 (0)47 61 73 44
3,E004,Magnus,Söderström,52,Product Management,Junior Data Scientist,47296.0,magnus.söderström@supacoolsoft.se,+46 (0)258 579 26
4,E005,Therese,Ljungberg,46,Product Management,Junior Data Scientist,42435.0,therese.ljungberg@supacoolsoft.se,+46 (0)575 495 24
...,...,...,...,...,...,...,...,...,...
95,E096,Erik,Höglund,55,Data Science,Junior Data Engineer,42590.0,erik.höglund@supacoolsoft.se,+46 (0)8 454 503 87
96,E097,Fatima,Khan,26,Engineering,BI Developer,42809.0,fatima.khan@supacoolsoft.se,08-677 430 60
97,E098,Gunnel,Olofsson,27,Engineering,Senior Data Engineer,62630.0,gunnel.olofsson@supacoolsoft.se,+46 (0)35 20 46 36
98,E099,Wei,Zhang,43,Product Management,Senior Data Analyst,52075.0,wei.zhang@supacoolsoft.se,+46 (0)490 722 64
99,E100,Ulrika,Sundberg,39,Product Management,Database Administrator,53413.0,ulrika.sundberg@supacoolsoft.se,08-276 632 16

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   96 non-null     object
 1   FirstName    96 non-null     object
 2   LastName     96 non-null     object
 3   Age          96 non-null     int64
 4   Department   96 non-null     object
 5   Position     96 non-null     object
 6   Salary_SEK   96 non-null     float64
 7   Email        96 non-null     object
 8   PhoneNumber  96 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 7.5+ KB

In [36]:
df.loc[:, "Salary_SEK"] = df["Salary_SEK"].astype(int)
df

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
0,E001,Ann,Larsson,41,Product Management,AI Specialist,60777.0,ann.larsson@supacoolsoft.se,+46 (0)25 37 22 30
1,E002,Emma,Kim,52,Engineering,Database Administrator,46020.0,emma.kim@supacoolsoft.se,+46 (0)855 449 66
2,E003,Barbro,Andersson,59,DevOps,Data Scientist,48503.0,barbro.andersson@supacoolsoft.se,+46 (0)47 61 73 44
3,E004,Magnus,Söderström,52,Product Management,Junior Data Scientist,47296.0,magnus.söderström@supacoolsoft.se,+46 (0)258 579 26
4,E005,Therese,Ljungberg,46,Product Management,Junior Data Scientist,42435.0,therese.ljungberg@supacoolsoft.se,+46 (0)575 495 24
...,...,...,...,...,...,...,...,...,...
95,E096,Erik,Höglund,55,Data Science,Junior Data Engineer,42590.0,erik.höglund@supacoolsoft.se,+46 (0)8 454 503 87
96,E097,Fatima,Khan,26,Engineering,BI Developer,42809.0,fatima.khan@supacoolsoft.se,08-677 430 60
97,E098,Gunnel,Olofsson,27,Engineering,Senior Data Engineer,62630.0,gunnel.olofsson@supacoolsoft.se,+46 (0)35 20 46 36
98,E099,Wei,Zhang,43,Product Management,Senior Data Analyst,52075.0,wei.zhang@supacoolsoft.se,+46 (0)490 722 64
99,E100,Ulrika,Sundberg,39,Product Management,Database Administrator,53413.0,ulrika.sundberg@supacoolsoft.se,08-276 632 16

In [38]:
try:
    df = df.astype({"Salary_SEK": int})
except ValueError as err:
    print(err)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   96 non-null     object
 1   FirstName    96 non-null     object
 2   LastName     96 non-null     object
 3   Age          96 non-null     int64
 4   Department   96 non-null     object
 5   Position     96 non-null     object
 6   Salary_SEK   96 non-null     int64
 7   Email        96 non-null     object
 8   PhoneNumber  96 non-null     object
dtypes: int64(2), object(7)
memory usage: 7.5+ KB

# c) Find out some statistical information about the salary, e.g. mean, median, min, max, 10 percentile and 90 percentile.

In [43]:
df['Salary_SEK'].min()

np.int64(30452)

In [44]:
df['Salary_SEK'].max()

np.int64(69742)

In [47]:
df['Salary_SEK'].mean()

np.float64(51927.739583333336)

In [48]:
df['Salary_SEK'].median()

np.float64(52787.0)

In [51]:
top_10_procentile = df['Salary_SEK'].quantile(0.10)

print(top_10_procentile)

36475.0

In [52]:
top_90_procentile = df['Salary_SEK'].quantile(0.90)

print(top_90_procentile)

66718.5

In [46]:
# Kontroll av högsta och minsta lönen. ascending True eller False
df.sort_values('Salary_SEK', ascending=True)

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
57,E058,Noah,Lee,51,Engineering,Junior Data Analyst,30452,noah.lee@supacoolsoft.se,091-90 11 20
61,E062,Sten,Olsson,42,Data Science,Junior Data Analyst,32045,sten.olsson@supacoolsoft.se,0607-67 04 63
92,E093,Mia,Patel,42,IT,Junior Data Analyst,33401,mia.patel@supacoolsoft.se,083-946 68 56
10,E011,Fatima,Khan,41,DevOps,Junior Data Engineer,33563,fatima.khan@supacoolsoft.se,0103-338 33
70,E071,Henrik,Gustafsson,28,DevOps,Junior Data Analyst,33983,henrik.gustafsson@supacoolsoft.se,0719-21 04 29
...,...,...,...,...,...,...,...,...,...
64,E065,Kristina,Isaksson,32,Product Management,Senior Data Scientist,68297,kristina.isaksson@supacoolsoft.se,08-693 72 26
78,E079,Bo,Nilsson,42,Product Management,Data Scientist,68339,bo.nilsson@supacoolsoft.se,08-80 09 36
73,E074,Carina,Karlsson,41,Product Management,Data Architect,68431,carina.karlsson@supacoolsoft.se,090-942 26 93
60,E061,Margareta,Berglund,28,DevOps,AI Specialist,69356,margareta.berglund@supacoolsoft.se,088-747 36 50
85,E086,Olivia,Brown,53,IT,Senior Data Engineer,69742,olivia.brown@supacoolsoft.se,+46 (0)938 025 59

In [49]:
df.head()

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
0,E001,Ann,Larsson,41,Product Management,AI Specialist,60777,ann.larsson@supacoolsoft.se,+46 (0)25 37 22 30
1,E002,Emma,Kim,52,Engineering,Database Administrator,46020,emma.kim@supacoolsoft.se,+46 (0)855 449 66
2,E003,Barbro,Andersson,59,DevOps,Data Scientist,48503,barbro.andersson@supacoolsoft.se,+46 (0)47 61 73 44
3,E004,Magnus,Söderström,52,Product Management,Junior Data Scientist,47296,magnus.söderström@supacoolsoft.se,+46 (0)258 579 26
4,E005,Therese,Ljungberg,46,Product Management,Junior Data Scientist,42435,therese.ljungberg@supacoolsoft.se,+46 (0)575 495 24